.cards {
    display: flex;
}

.text {
    flex: 3;
    padding-right: 35px;
}

.featureVideo {
    flex: 5;
}

@media (width < 1200px) {
    .cards {
        flex-direction: column;
    }

    .text {
        padding-right: 0;
    }
}