.main {
    flex-direction: row;
    justify-content: center;
}

.text {
    flex: 1;
    padding-right: 35px;
}

.column {
    flex: 1;
    display: flex;
    align-items: center;
}

@media (width < 992px) {
    .main {
        flex-direction: column;
    }

    .text {
        padding-right: 0;
        padding-bottom: 30px;
    }
}