:root {
    --primaryColor: #16181C;
    --lightText: #878e99;
    --red: #cb0016;
    --titleColor: #c4cfde;
    --linkColor: #fee17a;
    --buttonColor: #bf5701;
    --selectLinkColor: #d16d0c;
    --separatorColor: #bf5701;
}