@import url("@/css/colors.css");
@import url("@/css/fonts.css");
@import "react-image-gallery/styles/css/image-gallery.css";


:root {
    background-color: var(--primaryColor);
    color: var(--titleColor);
}

:hover {
    color: white;
}

h1 {
    font-size: 40px;
    line-height: 125%;
    letter-spacing: -0.48px;
    text-align: center;
}

h2 {
    font-size: 30px;
    line-height: 133%;
}

main {
    display: flex;
    flex-direction: column;
    min-height: calc(95vh - 5rem);
    margin: 40px;
}

footer {
    background-color: var(--primaryColor);
    height: 2vh;
    display: flex;
    flex-direction: row;
}


body {

    font-family: var(--FONT-PRIMARY);
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;

    font-size: 18px;
    line-height: 150%;
    letter-spacing: 0.16px;
}

/* index.css */
a {
    color: var(--linkColor);
    /* Assuming --designColor is defined as an RGB value */
    font-size: 1.125rem;
    /* text-sm */
    font-weight: 500;
    /* font-semibold */
    border-radius: 0.375rem;
    /* rounded-md */
    transition: background 0.3s, color 0.3s, transform 0.3s;
    /* duration-300 */
    text-decoration: none;
    /* Remove underline from links */
}

a:hover {
    color: var(--designColor);
    transform: translateY(-0.25rem);
    /* -translate-y-1 */
}



@media (width > 992px) {}