.card {
    background: var(--card-background);
    /* Dark background */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    /* padding-left: 40px; */
    flex: 1 1 calc(45% - 40px);
    margin: 20px;
    color: #ffffff;
}

.card h4 {
    text-align: center;
    font-weight: 300 !important;
    color: #ffffff;
}

.card strong span {
    font-size: 24px;
}

.separator {
    width: 90%;
    height: 4px;
    background-image: linear-gradient(to right, rgba(215, 25, 32, 0), #d71920, rgba(215, 25, 32, 0));
    line-height: 0;
    margin-bottom: 2em;
    text-align: center;
}

.card p {
    text-align: center;
    font-weight: 300 !important;
    font-size: 20px;
    color: #ffffff;
    margin-block-start: 0em !important;
    margin-block-end: 0em !important;
}

.card ul {
    line-height: 2em;
}

@media (max-width: 992px) {
    .card {
        padding-left: 20px;
    }
}